
<div class="contactFrm">
    <form action="" class="form">
      <h1 class="title">Contact us</h1>

      <div class="inputContainer 1">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Email</label>
      </div>

     
     

      <div class="inputContainer 2">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">subject</label>
      </div>

      <div class="inputContainer 3">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">description</label>
      </div>

      <input type="submit" class="submitBtn" value="send">
    </form>
  </div>
  