<div>
  <h1 class="display-3" align="center">Indian ArtForms</h1>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://live.staticflickr.com/2863/33394956972_79e5e483f0_c.jpg" class="d-block w-100" alt="..." width="500" height="500">
      </div>
      <div class="carousel-item">
        <img src="https://t3.ftcdn.net/jpg/04/37/25/46/360_F_437254679_SbmGEhAPJ3TxTqwgC40ZkuSysqWB6z8P.jpg" class="d-block w-100" alt="..." width="500" height="500">
      </div>
      <div class="carousel-item">
        <img src="https://raxacollective.files.wordpress.com/2012/06/c15.jpg" class="d-block w-100" alt="..." width="500" height="500">
      </div>
    </div>
  
  